{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}Doctor's profile{% endblock title %}

	{% block meta %} {{ doctor.user.username }} Profile {% endblock meta %}
{% block content %}
		<br><p></p>
	  <br><p></p>	
    
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
       <img class="center img-responsive img-circle" style="width:300px;height:300px;" src="{{ doctor.image.url }}">
				<hr>
				<h1 class="tm-title">Hi, I am {{ doctor.full_name }}</h1>
			</div>
		</div>
	</div>
  
</header>

<!-- about and skills section -->
<section class="container text-center">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="about">
				<h3 class="accent">My Biography</h3>
        <br>
				<p>{{ doctor.bio }}</p>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="skills">
				<h2 class="white">Field of expertise</h2>
				<strong>{{ doctor.speciality }}</strong>
			</div>
		</div>
	</div>

  	<div class="col-md-8 col-sm-12">
			<div class="education">
				<h2 class="white">Certification</h2>
        	<div class="education-school">
					  <span><h5>{{ doctor.certification }}</h5></span>
							</div>
					<div class="education-content">
						<h4 class="education-title accent">{{ doctor.gender }}</h4>
					</div>
			</div>
		</div>

    	<div class="col-md-4 col-sm-12">
			<div class="contact">
				<h2>Contact</h2>
					<p><i class="fa fa-map-marker"></i> {{ doctor.location }}</p>
					<p><i class="fa fa-envelope"></i>{{ doctor.user.email }}</p>
			</div>
		</div>

		</div>
	</div>
   
  </section>

{% endblock content %}

