{% extends 'pages/base.html' %}

{% load static %}
{% block title %}E-Lab{% endblock title %}

	{% block meta %} the best medical-service website in Abuja {% endblock meta %}
{% block content %}
		<br><p></p>
	  <br><p></p>
	   <br><p></p>
	    <br><p></p>

   <section class="ftco-section ftco-no-pt ftco-no-pb" id="department-section">
    	<div class="container-fluid px-0">
		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Home Lab Testing</h2>
            <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
          </div>
        </div>	
    		<div class="row no-gutters">
    			<div class="col-md-4 d-flex">
    				<div class="img img-dept align-self-stretch" style="background-image: url({% static 'images/dept11.jpg)' %}"></div>
    			</div>
            
    			<div class="col-md-8">
    				<div class="row no-gutters">
					 {% for lab in all_lab_test %}
    					<div class="col-md-4">
    						<div class="department-wrap p-4 ftco-animate">
							
    							<div class="text p-2 text-center">
    								<div class="icon">
    									<span class="flaticon-stethoscope"></span>
    								</div>
    								<h3><a href="#">{{ lab.title }}</a></h3>
    								<p>{{ lab.subheading }}</p>
									
    							</div>
    						</div>
    					</div>
						{% endfor %}
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
 {% endblock content %}