{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}Doctor's profile{% endblock title %}

	{% block meta %} Our Doctors {% endblock meta %}
{% block content %}
		<br><p></p>
	  <br><p></p>	
    <br><p></p>
	  <br><p></p>
     
	  <form method="POST">
        {% csrf_token %}
         <fieldset class="form-group">
             <legend class="border-bottom mb-4 h4 text-center center">Your Email</legend>
           <legend class=" mb-4 h3 center text-center">{{ user.email }}</legend>
         </fieldset>
         <div class="form-group text-center center">
    {% if not user.patient.subscribe %}
    <button class="btn btn-outline-info" type="submit"><a href="{% url 'pricing' %}">Subscribe</a></button>
{% else %}
  <button class="btn btn-danger" disabled type="submit">Subscribed</button>
  <p>Thanks For Subscribing to Jazeera this is your Plan ID: <span class="h6 text-primary">{{ user.patient.plan_id }}</span> </p>
{% endif %}
         </div>
      </form>
{% endblock content %}