{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}Doctor's profile{% endblock title %}

	{% block meta %} Our Doctors {% endblock meta %}
{% block content %}
		<br><p></p>
	  <br><p></p>	
    <br><p></p>
	  <br><p></p>
    
<div class="content-section text-center">
  <div class="media img-responsive">
    <img class="rounded-circle account-img" src="{{ image }}">
    <div class="media-body">
      <h2 class="account-heading">{{ username }}</h2>
      <p class="text-secondary">{{ email }}</p>
      <p class="text-secondary">{{ speciality }}</p>
      <p class="text-primary">{{ bio }}</p>
    </div>
  </div>

<form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <fieldset class="form-group">
             <legend class="border-bottom mb-4">Profile Info</legend>
             {{ u_form|crispy }}
             {{ p_form|crispy }}
         </fieldset>
         <div class="form-group">
             <button class="btn btn-outline-info" type="submit">Update</button>

         </div>
     </form>
</div>



{% endblock content %}